@page "/login"

@inject NavigationManager NavManager




<form class="vh-100" @onsubmit="LoginUser">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">

						<h3 class="mb-5">Bike Service Center</h3>

						<div class="mb-3">
							<label class="form-label">Username</label>
							<input type="text" @bind="_username" class="form-control form-control-lg" />
							
						</div>

						<div class="mb-3">
							<label class="form-label" for="typePasswordX-2">Password</label>
							<input type="password" @bind="_password" class="form-control form-control-lg" />
						</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@code {
	[CascadingParameter]
	private GlobalState _globalState { get; set; }

	private string _username { get; set; }

	private string _password { get; set; }

	private string _errorMessage = "";

	protected override void OnInitialized()
	{
		try
		{
			var user = UserService.LoginUser(UserService.Seedname, UserService.SeedPassword);
		}
		catch
		{

		}

		_globalState.User = null;

		_errorMessage = "";
	}

	private void LoginUser()
	{
		try
		{
			_errorMessage = "";

			var user = _globalState.User = UserService.LoginUser(_username, _password);

			if (user != null)
			{
				NavManager.NavigateTo("/homepage");
			}
		}

		catch (Exception e)
		{
			_errorMessage = e.Message;
			Console.WriteLine(e);
		}
	}
}
