@page "/orders"



<table class="table">
	<thead>
		<tr>
			<th scope="col">Item Name </th>
			<th scope="col">Quantity</th>
			<th scope="col">Ordered By</th>
			<th scope="col">Ordered At</th>
			<th></th>
		</tr>
	</thead>
		
	<tbody>
	</tbody>
</table>

@code {


}
