@page "/users"


<div class="side-div">
	<div>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
		</div>
	</div>
	<div><button type="button" class="btn btn-primary btn-lg" @onclick="OpenUserDialog">Add Users</button></div>
	
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Username</th>
			<th scope="col">Role</th>
			<th scope="col">Created At</th>
			<th scope="col">Created By</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

@if(_showAddUserDialog){
	<ModalDialogBox Title="Add User" Label="Add">
		<form>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Username</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Admin</label>
			</div>
				<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Staff</label>
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</ModalDialogBox>
}

@code {
	private bool _showAddUserDialog { get; set; }
	private void OpenUserDialog(){
		_showAddUserDialog = true;
	}
	//logical part
}
