@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
	@if (_globalState.User != null)
	{
		<div class="sidebar">
			<NavMenu Username="@_globalState.User.Username" UserRole="@_globalState.User.Role" LogoutHandler="LogoutHandler" />
		</div>
	}

	<main>
		<article class="content px-4">
			<CascadingValue Value="@_globalState">
				@Body
			</CascadingValue>
		</article>
	</main>
</div>

@code {
	private GlobalState _globalState = new();

	protected override void OnInitialized()
	{
		UserService.SeedUsers();
	}

	private void LogoutHandler()
	{
		_globalState.User = null;
		NavManager.NavigateTo("/login");
	}
}
